{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
    <title>Đổi Mật Khẩu</title>
</head>
<body>
    <div class="container">
        <h2>Đổi Mật Khẩu</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cập Nhật Mật Khẩu</button>
        </form>
    </div>
</body>
</html>
{% endblock %}