{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Edit Profile</h2>

    <form method="POST">
        {% csrf_token %}
        <div>
            <h3>Thông tin người dùng</h3>
            {{ user_form.as_p }}
        </div>

        {% if profile_form %}
            <div>
                <h3>Thông tin {{ user.role|title }}</h3>
                {{ profile_form.as_p }}
            </div>
        {% endif %}

        <button type="submit">Lưu thay đổi</button>
    </form>
{% endblock %}
